include/
lib/
*.user
*.suo
*.VC.db*
*.shader_inc
*.vspscc
*.opensdf
*.sdf
*.ipch
*.cache
*.tlog
*.lastbuildstate
*.ilk
*.log
*.pdb
* - Copy*.*
Build_VS11
Build_VS12
Build_VS14
Build_VS15
Packages
/ModelConverter/assimp.dll
Packages
LGHDemo/Textures/
LGHDemo/Models/
LGHDemo/CompiledShaders/
LGHDemo/Intermediate/
LGHDemo/.vs/
LGHDemo/*.exe
Core/x64/
Core/CompiledShaders/
